{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!-- Start: Team -->
    <div class="container py-4 py-xl-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: rgb(62,69,85);">Our Team</h2>
                <p class="w-lg-50" style="color: rgb(141,151,173);">Meet our great team of devoted experts who are passionate about exceeding expectations and providing results that are remarkable.</p>
            </div>
        </div>
    </div><!-- End: Team -->
    <div class="py-5 team4">
        <div class="container">
            <div class="row d-xl-flex justify-content-xl-center">
                <div class="col-lg-3 mb-4">
                    <div class="row">
                        <div class="col-md-12 col-xl-11" style="width: 261px;height: 261px;margin-left: 1.5rem;"><img class="rounded-circle img-fluid" src="{% static 'assets/img/334026365_1283881955867046_8659706787021541304_n.webp-3.jpeg'%}" alt="wrapkit" width="261" height="248" style="height: 237px;"></div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Vinay Taywade</h5>
                                <h6 class="subtitle mb-3">Lead Developer</h6>
                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="row">
                        <div class="col-md-12" style="width: 261px;height: 261px;"><img class="rounded-circle img-fluid" src="{% static 'assets/img/1681293057557.jpeg'%}" alt="wrapkit" style="margin-left: 1.5rem;"></div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Mugdha Manekar</h5>
                                <h6 class="subtitle mb-3">Web Designer</h6>
                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="row">
                        <div class="col-md-12" style="width: 261px;height: 261px;margin-left: 1.5rem;"><img class="rounded-circle img-fluid" src="{% static 'assets/img/profile-pic%20(3).png' %}" alt="wrapkit"></div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Tejas Lakade</h5>
                                <h6 class="subtitle mb-3">Backend Developer</h6>
                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="row">
                        <div class="col-md-12" style="width: 261px;height: 261px;margin-left: 1.5rem;"><img class="rounded-circle img-fluid" src="{% static 'assets/img/1643475609398.jpeg'%}" alt="wrapkit"></div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Divya Waghmare</h5>
                                <h6 class="subtitle mb-3">Frontend Developer</h6>
                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="row">
                        <div class="col-md-12"><img class="rounded-circle img-fluid" src="{% static 'assets/img/Allhad.jpeg'%}" alt="wrapkit"></div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Aalhad Tawlare</h5>
                                <h6 class="subtitle mb-3">Property Specialist</h6>
                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="row">
                        <div class="col-md-12"><img class="rounded-circle img-fluid" src="{% static 'assets/img/Allhad.jpeg'%}" alt="wrapkit"></div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                                <h6 class="subtitle mb-3">Property Specialist</h6>
                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item list-inline-item"><a class="d-block text-decoration-none px-1" href="#"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}