{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
</head>

<body style="margin: 0;">
    <!-- Start: 404 -->
    <div class="not-found parallax">
        <div class="sky-bg"></div>
        <div class="wave-7"></div>
        <div class="wave-6"></div><a class="wave-island" href="#"><img src="http://res.cloudinary.com/andrewhani/image/upload/v1524501929/404/island.svg"></a>
        <div class="wave-5"></div>
        <div class="wave-lost wrp" style="margin-left: 1.5rem;margin-top: -5.5rem;"><span>4</span><span>0</span><span>4</span></div>
        <div class="wave-4"></div>
        <div class="wave-boat"><img class="boat" src="http://res.cloudinary.com/andrewhani/image/upload/v1524501894/404/boat.svg"></div>
        <div class="wawe-3"></div>
        <div class="wawe-2"></div>
        <div class="wawe-1"></div>
        <div class="wave-message">
            <p>Your're lost</p>
            <p>Click on the island to return</p>
        </div>
        <div></div>
        <div></div>
    </div><!-- End: 404 -->
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{%  static 'assets/js/script.min.js'%}"></script>
</body>

</html>